{% extends 'base.html' %} {% block title %} Dashboard {% endblock title %} {%
block pageCSS %}
<script>
  encode_line_graph_data = {{encode_stats_line}}
   decode_line_graph_data = {{decode_stats_line}}
   coding_percentage_array = {{coding_percentage}}
  all_years = {{all_years|safe}}
  report_data = {{report_data|safe}}
  currentYear = all_years[0]
</script>
{% endblock pageCSS %} {% block pageJS %}

<script src="/static/app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>

<script>
  let total_coding = {{total_coding}}
  let total_encode = {{total_encodes}}
  let total_decode = {{total_decodes}}
  let total_month_coding = {{total_month_coding}}
  let total_encode_past_six_days = {{total_encode_past_six_days}}
  let total_decode_past_six_days = {{total_decode_past_six_days}}
  let total_users = {{total_users}}


  var SI_SYMBOL = ["", "k", "M", "G", "T", "P", "E"];

  function abbreviateNumber(number){

      // what tier? (determines SI symbol)
      var tier = Math.log10(Math.abs(number)) / 3 | 0;

      // if zero, we don't need a suffix
      if(tier == 0) return number;

      // get suffix and determine scale
      var suffix = SI_SYMBOL[tier];
      var scale = Math.pow(10, tier * 3);

      // scale the number
      var scaled = number / scale;

      // format number and add suffix
      return scaled.toFixed(1) + suffix;
  }

  $(document).ready(function(){
    $("#total_coding").text(abbreviateNumber(total_coding))
    $(".total_encoding").text(abbreviateNumber(total_encode))
    $(".total_decoding").text(abbreviateNumber(total_decode))
    $(".total_users").text(abbreviateNumber(total_users))

    $(".total_encode_past_six_days").html(abbreviateNumber(total_encode_past_six_days)+" <small>(past 6 days)</small>")
    $(".total_decode_past_six_days").html(abbreviateNumber(total_decode_past_six_days)+" <small>(past 6 days)</small>")
    $("#total_files_month").text(abbreviateNumber(total_month_coding) + " files")

  })
</script>
{% endblock pageJS %} {% block content %}
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body">
      <section id="dashboard-ecommerce">
        <div class="row match-height">
          <div class="col-xl-4 col-md-6 col-12">
            <div class="card card-congratulation-medal">
              <div class="card-body">
                <h5>Congratulations 🎉 {{ user.full_name }}!</h5>
                <p class="card-text font-small-3">
                  You have made a great start in tool!
                </p>
                <h3 class="mb-75 mt-1 pt-50">
                  <a href="javascript:void(0);" id="total_coding"></a> Files
                  Coded
                </h3>
                <a
                  href="{% url 'app.encode.list' %}"
                  type="button"
                  class="btn btn-primary"
                >
                  View Encoded Files
                </a>
              </div>
            </div>
          </div>

          <div class="col-xl-8 col-md-6 col-12">
            <div class="card card-statistics">
              <div class="card-header">
                <h4 class="card-title">Statistics</h4>
                <div class="d-flex align-items-center">
                  <p class="card-text font-small-2 mr-25 mb-0"></p>
                </div>
              </div>
              <div class="card-body statistics-body">
                <div class="row">
                  <div class="col-xl-4 col-sm-6 col-12 mb-2 mb-xl-0">
                    <div class="media">
                      <div class="avatar bg-light-primary mr-2">
                        <div class="avatar-content">
                          <i data-feather="file" class="avatar-icon"></i>
                        </div>
                      </div>
                      <div class="media-body my-auto">
                        <h4 class="font-weight-bolder mb-0 total_encoding"></h4>
                        <p class="card-text font-small-3 mb-0">Encoded Files</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12 mb-2 mb-sm-0">
                    <div class="media">
                      <div class="avatar bg-light-danger mr-2">
                        <div class="avatar-content">
                          <i data-feather="file-text" class="avatar-icon"></i>
                        </div>
                      </div>
                      <div class="media-body my-auto">
                        <h4 class="font-weight-bolder mb-0 total_decoding"></h4>
                        <p class="card-text font-small-3 mb-0">Decoded Files</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12 mb-2 mb-xl-0">
                    <div class="media">
                      <div class="avatar bg-light-info mr-2">
                        <div class="avatar-content">
                          <i data-feather="user" class="avatar-icon"></i>
                        </div>
                      </div>
                      <div class="media-body my-auto">
                        <h4 class="font-weight-bolder mb-0 total_users"></h4>
                        <p class="card-text font-small-3 mb-0">Total Users</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row match-height">
          <div class="col-lg-4 col-12">
            <div class="row match-height">
              <div class="col-lg-6 col-md-3 col-6">
                <div class="card">
                  <div class="card-body pb-50">
                    <h6>Encoded Files</h6>
                    <h2
                      class="font-weight-bolder mb-1 total_encode_past_six_days"
                    ></h2>
                    <div id="statistics-encoded-files-chart"></div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-3 col-6">
                <div class="card card-tiny-line-stats">
                  <div class="card-body pb-50">
                    <h6>Decode Files</h6>
                    <h2
                      class="font-weight-bolder mb-1 total_decode_past_six_days"
                    ></h2>
                    <div id="statistics-decoded-files-chart"></div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-6 col-12">
                <div class="card earnings-card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6">
                        <h4 class="card-title mb-1">Files Coded</h4>
                        <div class="font-small-2">This Month</div>
                        <h5 class="mb-1" id="total_files_month"></h5>
                        <!-- <p class="card-text text-muted font-small-2">
                          <span class="font-weight-bolder">68.2%</span
                          ><span> more encoding than last month.</span>
                        </p> -->
                      </div>
                      <div class="col-6">
                        <div id="coding-percentage-chart"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 col-12">
            <div class="card card-revenue-budget">
              <div class="row mx-0">
                <div class="col-md-12 col-12 revenue-report-wrapper">
                  <div
                    class="d-sm-flex justify-content-between align-items-center mb-3"
                  >
                    <h4 class="card-title mb-50 mb-sm-0">Report</h4>
                    <div class="d-flex align-items-center">
                      <div class="d-flex align-items-center mr-2">
                        <span
                          class="bullet bullet-primary font-small-3 mr-50 cursor-pointer"
                        ></span>
                        <span>Encoding</span>
                      </div>
                      <div class="d-flex align-items-center ml-75 mr-2">
                        <span
                          class="bullet bullet-warning font-small-3 mr-50 cursor-pointer"
                        ></span>
                        <span>Decoding</span>
                      </div>
                      <div class="btn-group ml-75">
                        <button
                          type="button"
                          class="btn btn-outline-primary btn-sm dropdown-toggle budget-dropdown year_button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          {{all_years.0}}
                        </button>
                        <div class="dropdown-menu">
                          {% for year in all_years %}
                          <a
                            class="dropdown-item year_changed {% if all_years.0 == year %}active{% endif %}"
                            href="javascript:void(0);"
                            >{{year}}
                          </a>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="yearlyEncodingDecoding-report-chart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock content %}
<div class="row match-height">
  <div class="col-lg-8 col-12">
    <div class="card card-company-table">
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>User</th>
                <th>Image</th>
                <th>Country</th>
                <th>files</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>Technology</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded">
                      <div class="avatar-content">
                        <img
                          src="/static/app-assets/images/icons/toolbox.svg"
                          alt="Toolbar svg"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-weight-bolder">Dixons</div>
                      <div class="font-small-2 text-muted">meguc@ruj.io</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>UK</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="font-weight-bolder mr-1">68%</span>
                    <i
                      data-feather="trending-down"
                      class="text-danger font-medium-1"
                    ></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>Technology</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded">
                      <div class="avatar-content">
                        <img
                          src="/static/app-assets/images/icons/toolbox.svg"
                          alt="Toolbar svg"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-weight-bolder">Dixons</div>
                      <div class="font-small-2 text-muted">meguc@ruj.io</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>UK</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="font-weight-bolder mr-1">68%</span>
                    <i
                      data-feather="trending-down"
                      class="text-danger font-medium-1"
                    ></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>Technology</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded">
                      <div class="avatar-content">
                        <img
                          src="/static/app-assets/images/icons/toolbox.svg"
                          alt="Toolbar svg"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-weight-bolder">Dixons</div>
                      <div class="font-small-2 text-muted">meguc@ruj.io</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>UK</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="font-weight-bolder mr-1">68%</span>
                    <i
                      data-feather="trending-down"
                      class="text-danger font-medium-1"
                    ></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>Technology</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded">
                      <div class="avatar-content">
                        <img
                          src="/static/app-assets/images/icons/toolbox.svg"
                          alt="Toolbar svg"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-weight-bolder">Dixons</div>
                      <div class="font-small-2 text-muted">meguc@ruj.io</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>UK</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="font-weight-bolder mr-1">68%</span>
                    <i
                      data-feather="trending-down"
                      class="text-danger font-medium-1"
                    ></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>Technology</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded">
                      <div class="avatar-content">
                        <img
                          src="/static/app-assets/images/icons/toolbox.svg"
                          alt="Toolbar svg"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-weight-bolder">Dixons</div>
                      <div class="font-small-2 text-muted">meguc@ruj.io</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>UK</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="font-weight-bolder mr-1">68%</span>
                    <i
                      data-feather="trending-down"
                      class="text-danger font-medium-1"
                    ></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>Technology</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded">
                      <div class="avatar-content">
                        <img
                          src="/static/app-assets/images/icons/toolbox.svg"
                          alt="Toolbar svg"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-weight-bolder">Dixons</div>
                      <div class="font-small-2 text-muted">meguc@ruj.io</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>UK</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="font-weight-bolder mr-1">68%</span>
                    <i
                      data-feather="trending-down"
                      class="text-danger font-medium-1"
                    ></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>Technology</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded">
                      <div class="avatar-content">
                        <img
                          src="/static/app-assets/images/icons/toolbox.svg"
                          alt="Toolbar svg"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-weight-bolder">Dixons</div>
                      <div class="font-small-2 text-muted">meguc@ruj.io</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>UK</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="font-weight-bolder mr-1">68%</span>
                    <i
                      data-feather="trending-down"
                      class="text-danger font-medium-1"
                    ></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>Technology</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded">
                      <div class="avatar-content">
                        <img
                          src="/static/app-assets/images/icons/toolbox.svg"
                          alt="Toolbar svg"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-weight-bolder">Dixons</div>
                      <div class="font-small-2 text-muted">meguc@ruj.io</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>UK</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="font-weight-bolder mr-1">68%</span>
                    <i
                      data-feather="trending-down"
                      class="text-danger font-medium-1"
                    ></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>Technology</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded">
                      <div class="avatar-content">
                        <img
                          src="/static/app-assets/images/icons/toolbox.svg"
                          alt="Toolbar svg"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-weight-bolder">Dixons</div>
                      <div class="font-small-2 text-muted">meguc@ruj.io</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>UK</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="font-weight-bolder mr-1">68%</span>
                    <i
                      data-feather="trending-down"
                      class="text-danger font-medium-1"
                    ></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>Technology</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar rounded">
                      <div class="avatar-content">
                        <img
                          src="/static/app-assets/images/icons/toolbox.svg"
                          alt="Toolbar svg"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-weight-bolder">Dixons</div>
                      <div class="font-small-2 text-muted">meguc@ruj.io</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar bg-light-primary mr-1">
                      <div class="avatar-content">
                        <i data-feather="monitor" class="font-medium-3"></i>
                      </div>
                    </div>
                    <span>UK</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="font-weight-bolder mr-1">68%</span>
                    <i
                      data-feather="trending-down"
                      class="text-danger font-medium-1"
                    ></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <div class="card card-browser-states">
      <div class="card-header">
        <div>
          <h4 class="card-title">Browser States</h4>
          <p class="card-text font-small-2">Counter August 2024</p>
        </div>
        <div class="dropdown chart-dropdown">
          <i
            data-feather="more-vertical"
            class="font-medium-3 cursor-pointer"
            data-toggle="dropdown"
          ></i>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
            <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="browser-states">
          <div class="media">
            <img
              src="/static/app-assets/images/icons/google-chrome.png"
              class="rounded mr-1"
              height="30"
              alt="Google Chrome"
            />
            <h6 class="align-self-center mb-0">Google Chrome</h6>
          </div>
          <div class="d-flex align-items-center">
            <div class="font-weight-bold text-body-heading mr-1">54.4%</div>
            <div id="browser-state-chart-primary"></div>
          </div>
        </div>
        <div class="browser-states">
          <div class="media">
            <img
              src="/static/app-assets/images/icons/mozila-firefox.png"
              class="rounded mr-1"
              height="30"
              alt="Mozila Firefox"
            />
            <h6 class="align-self-center mb-0">Mozila Firefox</h6>
          </div>
          <div class="d-flex align-items-center">
            <div class="font-weight-bold text-body-heading mr-1">6.1%</div>
            <div id="browser-state-chart-warning"></div>
          </div>
        </div>
        <div class="browser-states">
          <div class="media">
            <img
              src="/static/app-assets/images/icons/apple-safari.png"
              class="rounded mr-1"
              height="30"
              alt="Apple Safari"
            />
            <h6 class="align-self-center mb-0">Apple Safari</h6>
          </div>
          <div class="d-flex align-items-center">
            <div class="font-weight-bold text-body-heading mr-1">14.6%</div>
            <div id="browser-state-chart-secondary"></div>
          </div>
        </div>
        <div class="browser-states">
          <div class="media">
            <img
              src="/static/app-assets/images/icons/internet-explorer.png"
              class="rounded mr-1"
              height="30"
              alt="Internet Explorer"
            />
            <h6 class="align-self-center mb-0">Internet Explorer</h6>
          </div>
          <div class="d-flex align-items-center">
            <div class="font-weight-bold text-body-heading mr-1">4.2%</div>
            <div id="browser-state-chart-info"></div>
          </div>
        </div>
        <div class="browser-states">
          <div class="media">
            <img
              src="/static/app-assets/images/icons/opera.png"
              class="rounded mr-1"
              height="30"
              alt="Opera Mini"
            />
            <h6 class="align-self-center mb-0">Opera Mini</h6>
          </div>
          <div class="d-flex align-items-center">
            <div class="font-weight-bold text-body-heading mr-1">8.4%</div>
            <div id="browser-state-chart-danger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
