{% extends 'auth.html' %} {% block title %} Forgot Password {% endblock title %}
{% block pageCss %}
<link
  rel="stylesheet"
  type="text/css"
  href="/static/app-assets/css/core/menu/menu-types/vertical-menu.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/static/app-assets/css/plugins/forms/form-validation.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/static/app-assets/css/pages/page-auth.css"
/>
{% endblock pageCss %} {% block content %}
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body">
      <div class="auth-wrapper auth-v1 px-2">
        <div class="auth-inner py-2">
          <div class="card mb-0">
            <div class="card-body">
              <a href="javascript:void(0);" class="brand-logo">
                <h2 class="brand-text text-primary ml-1">Steganography</h2>
              </a>

              <h4 class="card-title mb-1">Email Sent Successfully!</h4>
              <p class="card-text mb-2">
                A limited time password reset link is sent to your email. Please
                reset your password!
              </p>

              <p class="text-center mt-2">
                <a href="{% url 'auth.login' %}">
                  <i data-feather="chevron-left"></i> Back to login
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
